1. Data Exploration and Understanding 

    - Load and explore the dataset
    - Document basic statistics and distributions
    - Identify potential correlations between features
    - Create visualizations to communicate findings

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
!pwd

/Users/dmachuve/Dropbox/Projects/OmdenaSchool/ClimateKIC/week10/machine-learning-assignment-1-group-5/notebooks

In [5]:
pathdata = "/Users/dmachuve/Dropbox/Projects/OmdenaSchool/ClimateKIC/week10/machine-learning-assignment-1-group-5/data/student_success_dataset.csv"

In [6]:
#Load the dataset

schooldf = pd.read_csv(pathdata)
schooldf.head()

,student_id,age,gender,socioeconomic_status,previous_gpa,attendance_rate,participation_score,assignment_completion,family_support,study_resources,study_hours_per_week,first_generation_student,program_of_study,digital_literacy,previous_course_failures,extracurricular_hours,work_hours_per_week,distance_from_campus,final_grade,completed_course
0,STU0001,21,Non-binary,Low,3.35,0.73,10.0,63.8,High,"Textbooks, Online Resources",2.0,True,Business,3.1,0,1.7,15,5.6,100,True
1,STU0002,19,Male,Middle,4.00,0.83,6.2,45.7,Medium,"Textbooks, Online Resources, Tutoring",4.0,True,Computer Science,5.8,0,3.1,0,2.0,100,True
2,STU0003,21,Male,Low,1.72,0.72,9.1,90.3,High,"Online Resources, Tutoring",4.5,False,Economics,3.7,1,2.2,5,4.7,100,True
3,STU0004,24,Non-binary,Middle,3.09,0.81,6.5,58.9,High,"Textbooks, Online Resources, Tutoring",5.1,True,Mathematics,6.2,0,2.9,22,19.4,100,True
4,STU0005,19,Female,Low,2.24,0.83,9.1,93.0,High,"Textbooks, Online Resources, Study Group",4.5,True,Economics,8.0,0,5.4,15,9.3,100,True